#header4-2 H1 {
  text-align: center;
  color: #e25041;
}
#msg-box5-4 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-4 .mbr-article {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#menu-n .mbr-brand__name {
  font-size: 16px;
}
#menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-n .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-n .mbr-navbar__items a {
  font-size: 18px;
}
